.footer-container {
  padding-bottom: 5em;
}

.meet-the-team {
  background-color: #07638F;
  padding-top: 2em;
}

.meet-the-team .row div img {
  max-width: 600px;
  left: 30px;
}

.meet-the-team h2 {
  margin-left: 4em !important;
  margin-top: 1em !important;
}

.meet-the-team p.desc {
  margin-left: 6.5em !important;
  margin-right: 6.5em !important;
  margin-top: 5em !important;
  font-size: 1.1em;
  letter-spacing: 2px;
  font-weight: 100;
  line-height: 28px;
}

.hero-label p, .hero-label hr {
  margin: .7em 0;
}

.hero-label p.arvo {
  font-size: 1.1em;
  letter-spacing: 1px;
}

.hero-label p.lato {
  font-size: .9em;
  letter-spacing: 1px;
  font-weight: 100;
}

.hero-label div {
  margin-top: 20em;
}

.partners {
  margin-top: 2em;
}

.partners h3 {
  letter-spacing: 2px;
  font-size: 1.75em;
  opacity: .8;
}

.footer-images-wrapper {
  margin: 3em 0;
}

.footer-images-wrapper img {
  margin: 0 2em;
  opacity: .8;
}

.partners hr {
  width: 85%;
  border-color: #00638D;
}

.footer-nav {
  letter-spacing: 6px;
  margin: 3em 0;
}

.footer-nav a {
  margin: 0 2em;
  font-size: 1.25em;
  transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.footer-nav a:hover {
  text-decoration: none;
}

.footer-contact {
  margin: 4em;
}

.footer-contact img {
  width: 220px;
}

.footer-contact img, div.right  {
  display: inline-block;
}

.footer-contact img {
  margin-top: -4.8em;
}

div.right {
  margin: 0 2em;
}

div.right div {
  text-align: left;
}

.social {
  font-size: 2.3em;
  margin-top: .3em;
}

.social * {
  margin-right: .2em;
}

.social a {
  transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.copyright {
  letter-spacing: 1px;
  margin: 1em;
  opacity: .7;
  padding: 0 1.2em;
}

@media (max-width: 543px) {
  .footer-contact img {
    margin-top: 0;
  }
}

@media (max-width: 1025px) {
  .footer-nav a {
    display: block;
    margin: 1em 0;
  }
}

@media (max-width: 1195px) {
  div#getHeight {
    margin-top: 4em;
  }
}
@media (max-width: 1770px) {
  .hero-label div {
    margin-top: 20em;
  }
}

@media (max-width: 1490px) {
  .hero-label div {
    margin-top: 15em;
  }
}

@media (max-width: 1282px) {
  .hero-label div {
    margin-top: 10em;
  }
  .meet-the-team p.desc {
    margin-top: 1.5em !important;
    margin-bottom: 0;
  }
}

@media (max-width: 526px) {
  .hero-label div {
    margin-top: 7em;
    font-size: .8em;
  }
}

@media (max-width: 426px) {
  .hero-label div {
    margin-top: 3em;
    font-size: .8em;
  }
}

@media (max-width: 735px) {
  .meet-the-team p.desc {
    margin-left: 2em !important;
    margin-right: 2em !important;
  }
  .meet-the-team h2{
    margin-left: 1.15em !important;
    margin-right: 2em !important;
  }
}

@media (max-width: 767px) {
  div.right div {
    text-align: center;
  }
  div.right {
    margin-top: 1em;
  }
}
