body, #root, #canvas-wrapper {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-color: white;
}

#canvas-wrapper {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.home-cta-wrapper {
  position: relative;
  height: 1300px;
}

.home-cta {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.home-cta:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('/assets/home-header-cta.png') bottom left no-repeat;
  background-size: 100%;
}

.home-cta:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('/assets/home-header-break.png') bottom right no-repeat;
  background-size: 100%;
}

.home-content {
  background: url('/assets/home-header-continue.png') right top repeat-y;
  background-size: 100%;
  position: relative;
  // height: 1000px;
  // background-color: #fcfcfc;
  // position: relative;
  margin-top: -2em;
}

.what-list {
  margin: 3em 0 0 4em;
  font-size: 1.25em;
  list-style: none;
}

.what-list li * {
  display: inline-block;
  position: relative;
}

.what-list li:before {
  content: "\E801";
  font-family: fontello;
  margin-left: -1.3em;
  color: #20b789;
  position: absolute;
  left: 0px;
  top: 11px;
}

.what-list li p {
  margin: .65em 0 .65em 0.5em;
  letter-spacing: 1.5px;
}

.mcc-hide {
  opacity: 0;
}

.animate.mcc-show {
  opacity: 1;
  animation: show 2.2s ease;
  -o-animation: show 2.2s ease;
  -moz-animation: show 2.2s ease;
  -webkit-animation: show 2.2s ease;
}

text.animate.mcc-show {
  opacity: 1;
  animation: show 1s ease;
  -o-animation: show 1s ease;
  -moz-animation: show 1s ease;
  -webkit-animation: show 1s ease;
}

@-webkit-keyframes show {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes show {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes show {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes show {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.pie-segment {
  transition: stroke-dasharray 1.5s ease .5s;
  -o-transition: stroke-dasharray 1.5s ease .5s;
  -moz-transition: stroke-dasharray 1.5s ease .5s;
  -webkit-transition: stroke-dasharray 1.5s ease .5s;
}

h4.what-title {
  font-size: 3.1em;
}

.inline-block * {
  display: inline-block;
  font-size: 1.5em;
}

.legend-square {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}

.legend-square.purp {
  background-color: #8064a2;
}

.legend-square.green {
  background-color: #34cfa9;
}

.legend-square.red {
  background-color: #c0504d;
}

.legend-square.blue {
  background-color: #4f81bd;
}
