body, #root, #canvas-wrapper {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-color: white;
}

#canvas-wrapper {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.home-cta-wrapper {
  position: relative;
  height: 1300px;
}

.home-cta {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.home-cta:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('/assets/home-header-cta.png') bottom left no-repeat;
  background-size: 100%;
}

.home-cta:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('/assets/home-header-break.png') bottom right no-repeat;
  background-size: 100%;
}

.home-content {
  background: url('/assets/home-header-continue.png') right top repeat-y;
  background-size: 100%;
  position: relative;
  // height: 1000px;
  // background-color: #fcfcfc;
  // position: relative;
  margin-top: -2em;
}

.what-list {
  margin: 3em 0 0 4em;
  font-size: 1.25em;
  list-style: none;
}

.what-list li * {
  display: inline-block;
  position: relative;
}

.what-list li:before {
  content: "\E801";
  font-family: fontello;
  margin-left: -1.3em;
  color: #20b789;
  position: absolute;
  left: 0px;
  top: 11px;
}

.what-list li p {
  margin: .65em 0 .65em 0.5em;
  letter-spacing: 1.5px;
}

li.mcc-hide {
  opacity: 0;
}

li.animate.mcc-show {
  opacity: 1;
  animation: show 2.2s ease;
}

@keyframes show {
  0%   { opacity: 0 }
  100% { opacity: 1 }
}
