.page-container, .page-parent {
  background-color: #fcfcfc;
  // min-height: 100vh;
  transition: min-height 3s ease-out;
  -o-transition: min-height 3s ease-out;
  -moz-transition: min-height 3s ease-out;
  -webkit-transition: min-height 3s ease-out;
}

.page-wrapper, .page-container, .home-wrapper  {
  min-height: 60vh;
  padding: 6em 0;
  background-color: #fcfcfc;
  transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
}

h1.page-title {
  letter-spacing: 3px;
}

.page-content {
  font-size: 1.2em;
  letter-spacing: 1px;
  line-height: 32px;
}
.page-content * {
  color: rgba(0, 0, 0, 0.87);
}
.page-content p, .page-content li {
  color: rgba(0, 0, 0, 0.54);
}
.page-content a {
  color: #3379b8;
}
.page-content h2 {
  font-size: 1.2em;
  margin: 2em 0 1em;
}

.page-img {
  float: right;
  width: 200px;
  height: auto;
}

.fixed-col {
  position: relative;
}

.fixed-social a {
  font-size: 2em;
  transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.fixed-contact {
  padding: 1.2em;
  background-color: #3379b8;
  text-align: center;
  width: 220px;
}

.fixed-contact h3 {
  font-size: 1.3em;
  letter-spacing: 2px;
  margin: 0;
}

.fixed-contact p {
  letter-spacing: 1px;
}

.fixed-contact button {
  background: none;
  border: 2px solid;
  border-radius: 1px;
  padding: 0.5em;
  width: 100%;
  transition: all .2s ease;
  -o-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
.fixed-contact button:hover {
  background: #fff;
  border-color: #fff;
  color: #17628f;
}

@media (max-width: 1155px) {
  .fixed-col {
    display: none;
  }
}

@media (max-width: 767px) {
  .page-img {
    width: 140px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .page-container, .page-parent {
    min-height: 60vh;
  }
}

@media (min-width: 992px) and (max-width: 1155px) {
  .page-container, .page-parent {
    min-height: 60vh;
  }
  div#page-length {
    margin-left: 17vw;
  }
}
