@import './home.scss';
@import './footer.scss';
@import './nav.scss';
@import './page.scss';
@import './loader.scss';
@import './meet-the-team.scss';
@import './fontello.scss';
@import './bootstrap.min.scss';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

h2.title {
  margin: 0;
  letter-spacing: 10px;
  font-weight: 100;
  font-size: 1.8em;
  text-transform: uppercase;
  position: relative;
}

h3.title {
  margin: 0;
  letter-spacing: 8px;
  font-weight: 100;
  font-size: 1.5em;
  text-transform: uppercase;
}

h5.title {
  margin: 0;
  letter-spacing: 10px;
  font-weight: 100;
  font-size: 1.4em;
  text-transform: uppercase;
  position: relative;
}

.arvo {
  font-family: 'Arvo', serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.white {
  color: #fff;
}

.black {
  color: rgba(0, 0, 0, .87);
}

.black-fade {
  color: rgba(0, 0, 0, .67);
}

.green {
  color: #20b789;
}

.blue {
  color: #00638D;
}

.relative {
  position: relative;
}

.inline-block * {
  display: inline-block;
}

.no-padding {
  padding: 0;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.separator {
  height: 5px;
  width: 100%;
  background-color: #20b789;
  position: absolute;
  bottom: 0;
  left: 0;
}

div.animated-cover {
  position:absolute;
  top:0; bottom:0; right:0;
  background: -webkit-linear-gradient(left,rgba(0,0,0,0) 0%,rgba(252,252,252,1) 10%);
  background: linear-gradient(to right,rgba(0,0,0,0) 0%,rgba(252,252,252,1) 10%);
  background: -moz-linear-gradient(left,rgba(0,0,0,0) 0%, rgba(252,252,252,1) 10%);
  transition: width 1.2s ease-out;
  -o-transition: width 1.2s ease-out;
  -moz-transition: width 1.2s ease-out;
  -webkit-transition: width 1.2s ease-out;
}

div.animated-cover.disappear {
  width: 100%;
}

div.animated-cover.appear {
  width: 0%
}

div#pageWrapper {
  margin-top: 79px;
}
